<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="APIKey" value="6f7c0110a47f82e7bff933f68cc8d7ec"/>
		<add key="APIUser" value="undefeatedgames"/>
		<add key="TemplateFilePath" value="Template.html"/>
		<add key="CSVTestDataFilePath" value="E:\WORK\GIT\paubox-csharp\Paubox_Csharp\UnitTestProject\SendMessage_TestData.csv"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
